<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AP Smoke Test Suite" parallel="classes" thread-count="10">
	<listeners>
		<listener class-name="main.resources.ExtentReporterNG"></listener>
		<listener class-name="main.java.com.framework.TestListener"></listener>
	</listeners>
	<test name="Automation Practice Tests" allow-return-values="true">
	<groups>
			<run>
				<include name="ap" />
			</run>
		</groups>
		<classes>
			<class name="test.java.com.automation.practice.APtests" />
		</classes>
	</test>
</suite>
